.height-20 {
  height: 20px !important;
  line-height: 20px; }

.height-25 {
  height: 25px !important;
  line-height: 25px; }

.height-30 {
  height: 30px !important;
  line-height: 30px; }

.height-35 {
  height: 35px !important;
  line-height: 35px; }

.height-40 {
  height: 40px !important;
  line-height: 40px; }

.height-45 {
  height: 45px !important;
  line-height: 45px; }

.height-50 {
  height: 50px !important;
  line-height: 50px; }

.height-55 {
  height: 55px !important;
  line-height: 55px; }

.height-60 {
  height: 60px !important;
  line-height: 60px; }

.font-xs {
  font-size: 12px !important; }

.font-sm {
  font-size: 14px !important; }

.font-md {
  font-size: 16px !important; }

.font-lg {
  font-size: 18px !important; }

.font-jb {
  font-size: 20px !important; }

.font-30 {
  font-size: 30px !important; }

.font-40 {
  font-size: 40px !important; }

.font-80 {
  font-size: 80px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.padding-left-5 {
  padding-left: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.padding-right-15 {
  padding-right: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.padding-right-20 {
  padding-right: 20px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.margin-right-30 {
  margin-right: 30px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.padding-right-30 {
  padding-right: 30px !important; }

.padding-left-30 {
  padding-left: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.margin-right-50 {
  margin-right: 50px !important; }

.margin-left-50 {
  margin-left: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.padding-right-50 {
  padding-right: 50px !important; }

.padding-left-50 {
  padding-left: 50px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.margin-right-60 {
  margin-right: 60px !important; }

.margin-left-60 {
  margin-left: 60px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-top-60 {
  margin-top: 60px !important; }

.padding-right-60 {
  padding-right: 60px !important; }

.padding-left-60 {
  padding-left: 60px !important; }

.padding-bottom-60 {
  padding-bottom: 60px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.text-default {
  color: #424244 !important; }
  .text-default:focus, .text-default:hover {
    color: #424244 !important; }

.text-primary {
  color: #424244 !important; }
  .text-primary:focus, .text-primary:hover {
    color: #424244 !important; }

.text-pleasant {
  color: #e8614d !important; }
  .text-pleasant:focus, .text-pleasant:hover {
    color: #e8614d !important; }

.text-inverse {
  color: #fffbed !important; }
  .text-inverse:focus, .text-inverse:hover {
    color: #fffbed !important; }

.text-light {
  color: #fffbed !important; }
  .text-light:focus, .text-light:hover {
    color: #fffbed !important; }

.text-dark {
  color: #424244 !important; }
  .text-dark:focus, .text-dark:hover {
    color: #424244 !important; }

.text-passion {
  color: #fbd663 !important; }
  .text-passion:focus, .text-passion:hover {
    color: #fbd663 !important; }

.text-cool {
  color: #16a4aa !important; }
  .text-cool:focus, .text-cool:hover {
    color: #16a4aa !important; }

.text-sun {
  color: #f6b81f !important; }
  .text-sun:focus, .text-sun:hover {
    color: #f6b81f !important; }

.text-sunshine {
  color: #f6b81f !important; }
  .text-sunshine:focus, .text-sunshine:hover {
    color: #f6b81f !important; }

.text-gray {
  color: #a2a3a4 !important; }
  .text-gray:focus, .text-gray:hover {
    color: #a2a3a4 !important; }

.text-hot {
  color: #d21e1e !important; }
  .text-hot:focus, .text-hot:hover {
    color: #d21e1e !important; }

.text-green {
  color: #390 !important; }
  .text-green:focus, .text-green:hover {
    color: #390 !important; }

.text-pink {
  color: #f59192 !important; }
  .text-pink:focus, .text-pink:hover {
    color: #f59192 !important; }

.text-black {
  color: #424244 !important; }
  .text-black:focus, .text-black:hover {
    color: #424244 !important; }

.text-blue {
  color: #0099ff !important; }
  .text-blue:focus, .text-blue:hover {
    color: #0099ff !important; }

.text-orange {
  color: #ff7200 !important; }
  .text-orange:focus, .text-orange:hover {
    color: #ff7200 !important; }

.text-important {
  color: #fc9792 !important; }
  .text-important:focus, .text-important:hover {
    color: #fc9792 !important; }

.text-info {
  color: #0197ad !important; }
  .text-info:focus, .text-info:hover {
    color: #0197ad !important; }

.text-success {
  color: #2baab1 !important; }
  .text-success:focus, .text-success:hover {
    color: #2baab1 !important; }

.text-danger {
  color: #e8675d !important; }
  .text-danger:focus, .text-danger:hover {
    color: #e8675d !important; }

.text-warning {
  color: #e8675d !important; }
  .text-warning:focus, .text-warning:hover {
    color: #e8675d !important; }

.vertical-middle {
  vertical-align: middle !important; }

.vertical-top {
  vertical-align: top !important; }

.vertical-sub {
  vertical-align: sub !important; }

.vertical-bottom {
  vertical-align: bottom !important; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.btn {
  border-radius: 0 !important; }

.btn-hot {
  background: #d21e1e;
  border-color: #d21e1e;
  color: #fff; }
  .btn-hot:hover {
    color: #fff; }

.btn-blue {
  background: #0099ff;
  border-color: #0099ff;
  color: #fff; }
  .btn-blue:hover {
    color: #fff; }

.btn-transparent {
  background: white;
  border-color: white;
  color: black; }
  .btn-transparent:hover {
    color: black; }
  .btn-transparent .panel-body {
    border: 0; }

.position-unset {
  position: unset !important; }

li {
  list-style: none; }

.table-cell {
  display: table-cell !important; }

.relative {
  position: relative; }

.inline-block {
  display: inline-block !important; }

.cursor-pointer {
  cursor: pointer !important; }

.clean-padding-left {
  padding-left: 0 !important; }

.clean-padding-right {
  padding-right: 0 !important; }

.clean-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.clean-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.clean-margin-left {
  margin-left: 0 !important; }

.clean-margin-right {
  margin-right: 0 !important; }

.clearfix::after, .clearfix::before {
  content: '';
  display: table;
  line-height: 0; }
.clearfix::after {
  clear: both; }

.clean-border {
  border: none !important; }

.box-center {
  margin: 0 auto; }

/*# sourceMappingURL=common.css.map */
